.submit-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e2e2e2;
  box-shadow: 0 -3px 0.3em 3px rgba(139, 139, 139, 0.08);
  background-color: var(--color-white);
}

.submit-container button {
  border-radius: 30px;
  width: 90%;
  height: 50px;
  background-color: var(--color-light-green);
  border: none;
  color: var(--color-white);
  margin: 15px 0;
  letter-spacing: -0.2px;
}
.swal-confirm-button {
  background-color: var(--color-primary) !important;
  border: none !important;
  color: var(--color-white) !important;
}

.sbCheckBox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-primary);
  border-radius: 3px;
}

.sbCheckBoxOn {
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 3px;
}

.nodata-wrap {
  width: 100%;
  margin: auto;
}

.nodata-wrap .icon {
  width: 20%;
  margin: auto;
}

.nodata-wrap .cartIcon {
  width: 80%;
  margin: auto;
  position: relative;
  top: 80px;
}

.nodata-wrap .text {
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-gray);
  opacity: 0.6;
}

.right-pos {
  position: absolute;
  right: 0;
}

.right-pos img {
  transform: rotate(180deg);
}
.back-button {
  width: 20px;
  height: auto;
  padding: 10px 7px;
  opacity: 0.5;
}

/* .slide-modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
} */

.slide-pane__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.slide-pane__content {
  padding: 0 !important;
}