.submit-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e2e2e2;
  box-shadow: 0 -3px 0.3em 3px rgba(139, 139, 139, 0.08);
  background-color: var(--color-white);
}

.submit-container button {
  border-radius: 30px;
  width: 90%;
  height: 50px;
  background-color: var(--color-light-green);
  border: none;
  color: var(--color-white);
  margin: 15px 0;
  letter-spacing: -0.2px;
}
.swal-confirm-button {
  background-color: var(--color-primary) !important;
  border: none !important;
  color: var(--color-white) !important;
}

.sbCheckBox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-primary);
  border-radius: 3px;
}

.sbCheckBoxOn {
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 3px;
}

.nodata-wrap {
  width: 100%;
  margin: auto;
}

.nodata-wrap .icon {
  width: 20%;
  margin: auto;
}

.nodata-wrap .cartIcon {
  width: 80%;
  margin: auto;
  position: relative;
  top: 80px;
}

.nodata-wrap .text {
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-gray);
  opacity: 0.6;
}

.right-pos {
  position: absolute;
  right: 0;
}

.right-pos img {
  transform: rotate(180deg);
}
.back-button {
  width: 20px;
  height: auto;
  padding: 10px 7px;
  opacity: 0.5;
}

/* .slide-modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
} */
.agree-body {
  padding: 0px 20px;
}

/*
  여기까지가 스탭 1-2-3 라인입니다.
  */

.agree-form .agree-header {
  padding: 20px 20px;
  border-bottom: thin solid #c7c7c7;
}

.agree-form .agree-title h1 {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 20px 0px;
}

.agree-check-all {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.agree-check-all label {
  font-size: 1rem;
  font-weight: bold;
}

.agree-check-all input[type="text box"] {
  width: 20px;
  height: 20px;
  vertical-align: center;
  margin-right: 10px;
}

.agree-info-wrap {
  align-items: center;
}

.agree-info-wrap p {
  font-size: 0.9rem;
  line-height: 0.8;
  margin: 8px;
  color: #888;
}

.agree-info-wrap-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agree-info-wrap-list img {
  width: 20px;
  height: 20px;
}
.agree-right-img {
  transform: rotate(180deg);
}

.agree-body-form-input {
  height: 80px;
  border-bottom: thin solid #c7c7c7;
  display: flex;
  align-items: center;
}
.validity-check-title {
  margin: 2px 0px;
}

.agree-body-form-input input,
.agree-body-form-input select {
  border: none;
  font-size: 1.2rem;
}

.agree-body-form-input input:focus,
.agree-body-form-input select {
  height: 30px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
.agree-body-form-input input::placeholder {
  font-size: 1.2rem;
  color: #c7c7c7;
}

.agree-body-form-input .birth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.agree-check-service {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 8px;
}

.select-agree-check-service {
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-starbucks);
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 8px;
  background-color: var(--color-starbucks);
}

/* 여기서부터 이메일 인증*/
.id-email-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: solid 1px #c7c7c7;
}

.id-mail-ac p {
  width: 30%;
  font-size: 1.4rem;
  color: #7a7777;
  display: flex;
  align-items: center;
}

.id-email-body-form-input {
  font-size: 1.2rem;
  border: none;
  outline: none;
  width: 100%;
}

.birth p {
  margin: 0px 20px;
}
.id-email-body-form-input::placeholder,
.id-number input::placeholder {
  font-size: 1.2rem;
  color: #c7c7c7;
  padding: 30px 0px;
}
.id-number input:focus {
  outline: none;
  border: none;
}
.id-email-body-form-check-btn {
  height: 50px;
  width: 70px;
  border: none;
  outline: none;
  background-color: var(--color-starbucks);
  border-radius: 5px;
  color: white;
}
.id-email-body-form-input input,
.id-email-body-form-input select {
  height: 30px;
  border: none;
  font-size: 1.2rem;
  color: #b2b1b1;
}

.id-email-body-form-input .email select {
  font-size: 1.3rem;
  width: 100px;
}

.id-mail-body-form-input .mail-ac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id-email-body-form-input .id-e-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  font-size: 1.4rem;
}

/* 중복확인 버튼 class 수정*/
.id-number {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 70px;
  border-bottom: thin solid #c7c7c7;
}

.email-check-botton {
  width: 200px;
  font-size: 1rem;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(255, 255, 255);
  color: #b2b1b1;
}

/*여기까지 이메일 인증*/

.id-warning {
  font-size: 0.8rem;
  color: #8d8b8b;
}

.main membership-section {
  margin-top: 60;
  height: 200px;
}

.main membership-title {
  width: 40%;
  padding: 10px;
}

.main-membership-img img {
  width: 105px;
  height: 100px;
  padding-left: 20px;
}

.agree-check-arrow {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}
.m-check-agree-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.left-che {
  width: 30px;
  margin: 20px;
}
.close {
  width: 20px;
  margin: 20px;
}
.main-membership-submit {
  background-color: rgba(255, 255, 255, 0.893);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  -webkit-box-shadow: -2px 9px 23px -8px #000000;
  box-shadow: -2px 9px 23px -8px #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-membership-submit button {
  width: 90%;
  height: 60%;
  padding: 0px;
  background-color: #01a862;
  border: none;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 800;
}

.main-membership-section {
  margin-top: 60px;
}

.main-membership-section h1 {
  width: 50%;
  margin: 30px 0px 50px 0px;
  padding-left: 30px;
  font-weight: 500;
  font-size: 1.7rem;
}

.nick-header .nick-check-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-check-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-checkbox-form {
  display: flex;
  justify-content: start;
  align-items: center;
}

.m-check {
  position: relative;
  line-height: 250%;
  top: 110px;
  padding: 10px 30px 30px 20px;
}

.m-agree {
  position: relative;
  top: 120px;
  display: inline;
  padding: 0px 0px 0px 20px;
}

.main-agree-check {
  position: relative;
  top: 170px;
  padding: 10px 30px 30px 20px;
}

.m-choice {
  font-size: 0.8rem;
  padding-left: 30px;
  line-height: 200%;
}

.main-membership-section input[type="checkbox"] {
  border-radius: 50px;
  width: 1rem;
  height: 1rem;
  border: 1px solid #787676;
  appearance: none;
}

.main-membership-section input[type="checkbox"] {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #9b9696;
  border-radius: 30px;
  vertical-align: middle;
}
.main-membership-section input[type="checkbox"]:checked {
  background: #01a862;
  border-color: #fbf7f7;
}
