.shareModal {
  position: absolute;
  width: 70vw;
  height: 35vh;
  left: 60px;
  top: 200px;
  z-index: 200;
  box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);
  transition: 0.3s;
  text-align: center;
  background-color: white;
}

.shareModal p {
  color: grey;
}
.sharemd-btn {
  position: absolute;
  bottom : 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}